.fa-pencil{
  color : blue;
  &:hover{
    color: red;
  }
}

.fa-trash{
  color : grey;
  &:hover{
    color: red;
  }
}

.fa-star{
  color : yellow;
  &:hover{
    color: red;
  }
}

.listing-cars{
  display: block;
  height: 650px;
  overflow:scroll;
}
