<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('<%= image_path 'girlboat.jpg' %>');">
  <div class="banner-content">
    <h1>Please Add your Vehicles you want to rent</h1>
    <p>Earn money as an Fullcar Owner</p>
    <a  class="btn folder" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="fa fa-folder-o" aria-hidden="true"></i></a>
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

          <%= render 'form' %>

        </div>
      </div>
    </div>
  </div>
</div>
